.title {
    background-color: #4ac3bb;
    text-align: center;
}

.content {
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2%;
    background-image:url(./img/moto1.jpg);
    color: white;
    background-size: cover;
    height: 440px;
}

body { 
    background-color: gray;
}

.img-rede {
    width: 48px;
}

.redes-sociais {
    padding-top: 1.5vh;
    background-color: gray;
    text-align: center;
}