.main {
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2%;
    background-image:url(./img/moto1.jpg);
    color: white;
    background-size: cover;
    height: 840px;
    width: 100%;
}


/* body { 
    background-color: gray;
} */