body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* div {
    border: 1px solid black;
} */

#main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#first-block {
    background-color: red;
    height: 10vh;
    width: 100%;

}

.blue-block {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 15vh;
    margin: 1vh 1vw 1vh 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-grow: 1;
}

.yellow-block {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 15vh;
    margin: 1vh 1vw 1vh 1vw;
    flex-grow: 1;
}

.green-block {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 15vh;
    margin: 1vh 1vw 1vh 1vw;
    flex-grow: 1;
}

.black-block {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    margin: 1vh 1vw 1vh 1vw;
    height: 35vh;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-grow: 1;
   
}

.white-block {
    border:1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28.5vw;
    margin: 1vh 1vw 1vh 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 15vh;
    flex-grow: 1;
}

@media screen and (max-width: 800px) {

    .green-block {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    .blue-block, .yellow-block {
        width: 45vw;
        flex-grow: 1;

    }

    .black-block{
        flex-grow: 1;
    }

    .white-block {
        flex-grow: 1;
        width: 45vw;
    }
}

@media screen and (max-width: 400px) {

    .green-block {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    .blue-block, .yellow-block, .black-block, .white-block {
        display: flex;
        flex-direction: column;
        width: 100vw;
        
    }
}